<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyj.leetcode.business.monitor.dao.MonitorMapper">


    <select id="selectByPrimaryKey" resultType="com.zyj.leetcode.business.monitor.entity.Monitor">

        select *
        from monitor
    </select>
</mapper>